/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sovapotipic {
        float: left;
        width: 100%;
    }
    .neta {
        width: 100%;
        padding: 13px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .news_wrap {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
    .eventbutton{
        display: none;
    }
    .event_content {
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 1%;
        float: left;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sovapotipic {
        float: left;
        width: 100%;
    }
    .neta {
        width: 48%;
        padding: 13px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .news_wrap {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
    .eventbutton{
        display: none;
    }
    .event_content {
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 0%;
        float: left;
    }
    .logo img {
        padding-top: 30px;
        width: 18%;
        padding-bottom: 25px;
    }
    .wrapdeatails p {
        padding: 3% 0% 0% 0%;
    }
    .enventfooterwrp p {
        padding: 7% 0% 2% 0%;
    }
    .wrapevt {
        width: 100%;
        display: -webkit-inline-box;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .sovapotipic {
        float: left;
        width: 100%;
    }
    .event_content {
        padding-top: 0%;
        padding-bottom: 0%;
        padding-left: 5%;
        float: left;
    }
    .event_wrap img{
        width: 15%;
    }
    .news_wrap {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
    .eventbutton {
        border: 1px solid black;
        background: none;
        padding: 5px;
        width: 17%;
        margin: 2% 0% 5% 4%;
        border-radius: 4%;
    }
    .logo img {
        padding-top: 30px;
        width: 13%;
        padding-bottom: 25px;
    }
    .wrapdeatails p {
        padding: 3% 0% 0% 0%;
    }
    .wrapevt {
        width: 100%;
        display: -webkit-inline-box;
    }
    .enventfooterwrp p {
        padding: 7% 0% 2% 0%;
    }
    .neta {
        width: 30%;
        padding: 13px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sovapotipic {
        float: left;
        width: 100%;
    }
    .event_content {
        padding-top: 0%;
        padding-bottom: 0%;
        padding-left: 5%;
        float: left;
    }
    .eventbutton {
        border: 1px solid black;
        background: none;
        padding: 5px;
        width: 12%;
        margin: 2% 0% 5% 4%;
        border-radius: 4%;
    }
    .event_wrap img {
        width: 13%;
    }
    .news_wrap {
        width: 50%;
        float: left;
        margin-bottom: 10px;
    }
    .neta {
        width: min-content;
        padding: 13px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sovapotipic {
        float: left;
        width: 15%;
    }
    .event_content {
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 5%;
        float: left;
    }
    .eventbutton {
        border: 1px solid black;
        background: none;
        padding: 10px;
        width: 15%;
        margin: 5% 0% 5% 4%;
        border-radius: 4%;
    }
    .news_wrap {
        width: 50%;
        float: left;
        margin-bottom: 10px;
    }
    .logo img {
        padding-top: 30px;
        width: 35%;
        padding-bottom: 25px;
    }
    .wrapdeatails p {
        padding: 7% 0% 0% 0%;
    }
    .enventfooterwrp p {
        padding: 7% 0% 7% 0%;
    }
    .neta {
        width: min-content;
        padding: 13px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}